@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f0f0f;
    --foreground: #141414;
    --card: #09090b;
    --card-foreground: #fafafa;
    --popover: #09090b;
    --popover-foreground: #fafafa;
    --primary: #8bd796;
    --primary-foreground: #000;
    --secondary: #0f0f0f;
    --secondary-foreground: #a8a8a8;
    --muted: #27272a;
    --muted-foreground: #a8a8a8;

    --accent: #8bd796;
    --accent-foreground: #fafafa;
    --destructive: #ff8f8f;
    --destructive-foreground: #000;
    --border: #27272a;
    --input: #27272a;
    --ring: #d4d4d8;
    --radius: 0.5rem;
  }
  [data-theme="orange"] {
    --background: #0f0f0f;
    --foreground: #141414;
    --card: #0c0a09;
    --card-foreground: #fafaf9;
    --popover: #0c0a09;
    --popover-foreground: #fafaf9;
    --primary: #ff8f8f;
    --primary-foreground: #000;
    --secondary: #0f0f0f;
    --secondary-foreground: #a8a8a8;
    --muted: #292524;
    --muted-foreground: #a8a8a8;

    --accent: #ff8f8f;
    --accent-foreground: #fafaf9;
    --destructive: #ff8f8f;
    --destructive-foreground: #000;
    --border: #292524;
    --input: #292524;
    --ring: #e9590c;
    --radius: 0.5rem;
  }
  [data-theme="red"] {
    --background: #0f0f0f;
    --foreground: #141414;
    --card: #1c1917;
    --card-foreground: #f2f2f2;
    --popover: #171717;
    --popover-foreground: #f2f2f2;
    --primary: #d6776a;
    --primary-foreground: #000;
    --secondary: #0f0f0f;
    --secondary-foreground: #a8a8a8;
    --muted: #262626;
    --muted-foreground: #a8a8a8;

    --accent: #d6776a;
    --accent-foreground: #fafafa;
    --destructive: #ff8f8f;
    --destructive-foreground: #000;
    --border: #27272a;
    --input: #27272a;
    --ring: #e21d48;
    --radius: 0.5rem;
  }
  [data-theme="yellow"] {
    --background: #0f0f0f;
    --foreground: #141414;
    --card: #1c1917;
    --card-foreground: #f2f2f2;
    --popover: #171717;
    --popover-foreground: #f2f2f2;
    --primary: #fff281;
    --primary-foreground: #000;
    --secondary: #0f0f0f;
    --secondary-foreground: #a8a8a8;
    --muted: #262626;
    --muted-foreground: #a8a8a8;

    --accent: #fff281;
    --accent-foreground: #fafafa;
    --destructive: #ff8f8f;
    --destructive-foreground: #000;
    --border: #27272a;
    --input: #27272a;
    --ring: #e2b71d;
    --radius: 0.5rem;
  }
  [data-theme="violet"] {
    --background: #0f0f0f;
    --foreground: #141414;
    --card: #1c1917;
    --card-foreground: #f2f2f2;
    --popover: #171717;
    --popover-foreground: #f2f2f2;
    --primary: #bbb0db;
    --primary-foreground: #000;
    --secondary: #0f0f0f;
    --secondary-foreground: #a8a8a8;
    --muted: #262626;
    --muted-foreground: #a8a8a8;

    --accent: #bbb0db;
    --accent-foreground: #fafafa;
    --destructive: #ff8f8f;
    --destructive-foreground: #000;
    --border: #27272a;
    --input: #27272a;
    --ring: #341de2;
    --radius: 0.5rem;
  }
  [data-theme="white"] {
    --background: #0f0f0f;
    --foreground: #141414;
    --card: #1c1917;
    --card-foreground: #f2f2f2;
    --popover: #171717;
    --popover-foreground: #f2f2f2;
    --primary: #ffefdc;
    --primary-foreground: #000;
    --secondary: #0f0f0f;
    --secondary-foreground: #a8a8a8;
    --muted: #262626;
    --muted-foreground: #a8a8a8;

    --accent: #ffefdc;
    --accent-foreground: #fafafa;
    --destructive: #ff8f8f;
    --destructive-foreground: #000;
    --border: #27272a;
    --input: #27272a;
    --ring: #e21d48;
    --radius: 0.5rem;
  }
  [data-theme="white-tools"] {
    --background: #0f0f0f;
    --foreground: #141414;
    --card: #1c1917;
    --card-foreground: #f2f2f2;
    --popover: #171717;
    --popover-foreground: #f2f2f2;
    --primary: #fcfcfc;
    --primary-foreground: #000;
    --secondary: #0f0f0f;
    --secondary-foreground: #a8a8a8;
    --muted: #262626;
    --muted-foreground: #a8a8a8;

    --accent: #fcfcfc;
    --accent-foreground: #fcfcfc;
    --destructive: #ff8f8f;
    --destructive-foreground: #000;
    --border: #27272a;
    --input: #27272a;
    --ring: #e21d48;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-[#fcfcfc] min-h-screen	overflow-x-hidden;
  }
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.text-shadow {
  text-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.gamba-ui-controls-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.gamba-ui-select-container {
  position: relative;
}

.gamba-ui-select-option {
  width: 100%;
  background: #272735;
  color: white;
  border: none;
  margin: 0;
  padding: 10px 5px;
  cursor: pointer;
}

.gamba-ui-select-option.selected {
  background: #2e2e40;
}

.gamba-ui-select-popup {
  position: absolute;
  bottom: 100%;
  margin-bottom: 10px;
  display: grid;
  border-radius: 10px;
  overflow: hidden;
  min-width: 100%;
  border-radius: 5px;
}

.gamba-game-button {
  margin: 0;
  pointer-events: auto;
  border: none;
  background: #272735;
  color: white;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.9;
  transition: opacity 0.2s;
  cursor: pointer;
}

.gamba-game-button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.gamba-game-button:not(:disabled):hover {
  background: #2e2e40;
}

.gamba-game-button.primary {
  min-width: 100px;
  background: var(--primary);
  color: var(--background);
}

.gamba-game-button.primary:hover {
  background: var(--primary);
}

.gamba-game-ui-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.gamba-game-button:disabled {
  cursor: default;
  opacity: 0.7;
}

.gamba-ui-select-container {
  min-width: 100px;
}

.gamba-ui-select-container button {
  width: 100%;
}

.gamba-game-button.selected {
  background: #515182 !important;
}

.gamba-game-button:active {
  transition: opacity 0.2s, transform 0.1s ease;
  opacity: 1;
}

.gamba-game-ui-wager-input {
  display: flex;
  gap: 2px;
}

.gamba-game-ui-wager-input input {
  background: #272735;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
}

.gamba-game-ui-wager-input input {
  width: 120px;
}

.gamba-wager-input-field {
  display: flex;
}

.guac-text-color {
  background: linear-gradient(180deg, #aed8b1 0%, #59d86b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trade-text-color {
  background: linear-gradient(180deg, #bbb0db 0%, #9070ed 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.earn-text-color {
  background: linear-gradient(180deg, #ff8f8f 0%, #ff6161 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-text-color {
  background: linear-gradient(180deg, #fff281 0%, #ffe60a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.launch-text-color {
  background: linear-gradient(180deg, #d6776a 0%, #e05947 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.trade-bg {
  border-radius: 8px;
  background: linear-gradient(180deg, #b7a9dd 0%, #8d6bee 100%);
  box-shadow: 0px 8px 16px 0px rgba(17, 24, 39, 0.1);
}

.game-btn {
  border-radius: 8px;
  background: linear-gradient(180deg, #fff27c 0%, #ffe607 100%);
  box-shadow: 0px 8px 16px 0px rgba(17, 24, 39, 0.1);
}

.guac-btn {
  border-radius: 8px;
  background: linear-gradient(180deg, #b2dbb6 0%, #6ed87c 100%);
  box-shadow: 0px 8px 16px 0px rgba(17, 24, 39, 0.1);
}
.guac-bg {
  background: linear-gradient(180deg, #b2dbb6 0%, #6ed87c 100%);
}
.earn-bg {
  background: linear-gradient(180deg, #ff8f8f 0%, #ff6161 100%);
}
.launch-bg {
  border-radius: 8px;
  background: linear-gradient(180deg, #d6776a 0%, #e05744 100%);
  box-shadow: 0px 8px 16px 0px rgba(17, 24, 39, 0.1);
}

.tools-bg {
  background: linear-gradient(180deg, #ffedd7 0%, #ffc581 100%);
}
.tools-text-color {
  background: linear-gradient(180deg, #ffedd7 0%, #ffc581 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.trade-bg-2 {
  /* border-radius: 8px; */
  background: linear-gradient(180deg, #b7a9dd 0%, #8d6bee 100%);
  /* box-shadow: 0px 8px 16px 0px rgba(17, 24, 39, 0.1); */
}
.top-shadow {
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
}

.bg-hover {
  background: rgba(15, 15, 15, 0.85);
}
#gamba-controls img {
  height: 25px;
}
.sc-gLLuof {
  display: flex;
  width: 213.08px;
  height: 41px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(168, 168, 168, 0.1);
  background-color: #141414 !important;
  padding: 3px;
}

/* button.sc-beySPh {
  border-radius: 10px !important;
  border: 1px solid #fff9bf !important;
  background: linear-gradient(180deg, #fff9c6 0%, #ffe60c 100%) !important;
  height: 41px !important;

  width: 150px !important;
  text-align: center !important;
  color: #000 !important;
} */
button.iVRAcF {
  border-radius: 6px;
  border: 1px solid rgba(168, 168, 168, 0.1);
  background-color: #141414 !important;
  margin-left: 3px !important;
  color: #bbb0db !important;
}
.wallet-adapter-button-trigger {
  border-radius: 8px !important;
  background: linear-gradient(180deg, #b2dbb6 0%, #6ed87c 100%) !important;
  height: 40px !important;
  margin-left: 3px;
  color: #000 !important;
}
.sc-dmyCSP {
  border-radius: 8px !important;
  border: 1px solid rgba(168, 168, 168, 0.1) !important;
  background: #0f0f0f !important;
}
button.sc-beySPh:nth-child(2) {
  border-radius: 8px !important;
  border: 1px solid rgba(168, 168, 168, 0.1) !important;
  background: #0f0f0f !important;
}
#gamba-controls > div:nth-child(3) > button {
  border-radius: 10px !important;
  border: 1px solid #fff9bf !important;
  background: linear-gradient(180deg, #fff9c6 0%, #ffe60c 100%) !important;
  height: 41px !important;

  width: 150px !important;
  text-align: center !important;
  color: #000 !important;
}
