@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --border-radius: 10px;
    --text-color: ${theme.palette.textColor};
    --primary-color: ${theme.palette.primary};
    --header-bg-color: ${theme.palette.background}EE;
    --gamba-modal-bg: ${theme.palette.backgroundLight};
    --gamba-modal-text: ${theme.palette.textColor};
    --bg-color: ${theme.palette.background};
    --bg-light-color: white;

}
body {
  @apply font-body bg-body bg-body-image bg-auto 	 bg-no-repeat antialiased;
}

.wallet-adapter-button {
  background-color: black !important;
  @apply rounded-full;
}

.text-shadow {
  text-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.fKQKaX {
  border: #E5E7EB 1px solid !important;
}
.fKQKaX > div > span:first-child{
  color :black !important;
}
.kqgPjV{
  color :#4E8341 !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}